/* normalización de elementos */
html { scroll-behavior: smooth; width: 100%;}
*{margin: 0px; padding: 0px;}
body{
  background-color: #2B2A33;
  font-family: 'Raleway', sans-serif;
}

.consulta{

  width:100vw;
  height: 15vh;
  background-color: #FFFFFF ;
  

}

#experienciaConsulta{

    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#telefonoConsultas{
    
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: start;
    
  
}

#telefonoConsultas > a{

  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  border-radius: 5px;
  width: 19em;
  height: 4.5em;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;

 

    
}

#experienciaConsulta > p{

    font-size: 3.5vw;
    font-weight: bold;

}

#serviciosarea{

  margin-top: 15px;
  margin-bottom: 15px;
  
}

#sdiv{
  
  display: grid;
  grid-template-columns: minmax(150px, 18vw) minmax(150px, 18vw) ;
  grid-template-rows:minmax(150px, 18vw) minmax(150px, 18vw) minmax(150px, 18vw) minmax(150px, 18vw);
  row-gap: 15px;
  column-gap: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

}



#servicios{

  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;

}

#servicios h1{

  font-size: 2.9vw;
  color: white;
}


.svc{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
 
}

.svc a{

  color: white;
  font-weight: bold;
  font-size: 2.5vw;

}

.svc a:hover{

  color: white;
  font-weight: bold;
  font-size: 3vw;
  position: relative; right: -5px; top: -5px;

}

.svc:hover{

  filter: brightness(120%);
}

#pladur{

  background-image: url(./pladur.jpg); background-size: cover;

}

#construccion{

  background-image: url(./chimenea.jpg); background-size:cover;

}

#enlucido{

  background-image: url(./enlucir.jpg); background-size:cover;

}

#montaje{

  background-image: url(./montaje.jpg); background-size:cover;

}

#fontaneria{

  background-image: url(./fontaneria.jpg); background-size:cover;

}

#pintura{

  background-image: url(./pintura.jpg); background-size:cover;

}

#chapado{

  background-image: url(./chapado.jpg); background-size:cover;

}

#otros{

  background-image: url(./barnizado.jpg); background-size:cover;

}


#enlaceservicios{

  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  

}



#enlaceservicios > a{

  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 19em;
  height: 4.5em;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

#sobrenosotrosarea{

  justify-content: center;
  justify-items: center;
  background-color: #31303A;
  width: 100vw;
  height: auto;
  padding-bottom: 25px;

}

#sobrenosotrosarea > div{

width: 100%;
display: flex;
justify-content: center;
text-align: center;

}

#sobrenosotrostitle{

padding-top: 20px;
margin-bottom: 20px;

}


#sobrenosotrostitle > p{

  color: #ffffff;

}

#sobrenosotrostext > p{

  color: #ffffff;
  font-size: 0.6rem;
  width: 70%;

}

#sobrenosotrosimg > img{

  margin-top: 20px ;
  width: 70vw;
  height: 40vw;
  
}

footer{

  width: 100vw;
  height: 7vh;
  justify-content: center;
  justify-items: center;
  padding-bottom: 5px;
  padding-top: 5px;

}

footer > div{

  height: 50%; width: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  
}

#creditos1{

  display: flex;
  align-items: center;

}

#creditos2{

  display: flex;
  align-items: start;

}

